.ForgotPassword {
    width: 900px;
    margin: 0 auto;
}

.button {
    display: block;
    background-color: #4CAF50;
    border: none;
    color: black;
    padding: 10px 30px;
    text-decoration: none;
    margin: auto;
    cursor: pointer;
    align-items: center;
  
  }